body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sniglet', cursive;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  color: #B8F3FF;
  background-color: #36213e;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #B8F3FF;
}